*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$firstpage-color: #ffffff;
$section1-color1: #471E22;
$section1-color2: #533B2F;
$buttoncolor: #B77E66;
$section1-button-fontcolor: #FFF;
$section2-openinghours-color: rgba(34, 27, 24, 0.60);
$section3-explanation1-font-color: #FFFADA;
$section3-ourmenu-fontcolor: #903711;
$section3-coffee-fontcolor: #9E5A3D;
$section3-cappacino-background-color: #734a39e0;
$section3-ordernow-button-color: #A0583C;
$section4-lorem-color: #D3CECE;
$section4-who-color: #54DD8B;
$section4-when-color: #CACACA;
$firstpage-font-family: 'Poppins', sans-serif;
$section1-font-family: 'Inter', sans-serif;
$section2-font-family: 'Irish Grover', sans-serif;
$section4-font-family: 'Lexend', sans-serif;


    .firstpage{
        position: relative;
        height: 786px;
        font-family: $firstpage-font-family; 

        &>img{
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 768px;
            object-fit: cover;
        }

        .container-2{
            max-width: 1160px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            left: -15px;
            height: 768px;

            .header{
                display: flex;
                align-items: center;
                gap: 285px;
                padding-right: 172px;
                }

                .logo{
                margin-top: 15.35px;
                margin-left: 84px;
                }

                .header>.header1{
                text-transform: uppercase;
                display: flex;
                gap: 52px;
                color: $firstpage-color;
                font-size: 20px;
                }

            .firstpagewords{
                margin-top: 110px;
                margin-left: 106px;

                .freshcoffee{
                    color: $firstpage-color;
                    font-size: 64px;
                    font-weight: 700;
                    text-transform: capitalize;
                }
                
                .lorem{
                    color: $firstpage-color;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 31.79px;
                    text-transform: capitalize;
                    margin-bottom: 50px;
                }
    
                .ordernow{
                    width: 330px;
                    height: 88.302px;
                    border-radius: 10px;
                    background: $buttoncolor;
                    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.30);
                    color: $firstpage-color;
                    font-size: 24px;
                    font-weight: 700;
                    border: 0px;
                }
            }
        }
}
        
        
.section1{
    position: relative;
    margin-top: -30px;
    font-family: $section1-font-family;

    &>img{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 655px;
        object-fit: cover;
    }

    .container-1{
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: -15px;
        height: 655px;

        
        .section1words{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 30px;
            padding-top: 218px;
        }

        .welcome{
            color: $section1-color1;
            font-size: 35px;
            font-weight: 600;
            line-height: 44.458px;
            letter-spacing: -1.575px;
        }

        .yourbest{
            color: $section1-color2;
            font-size: 21px;
            font-weight: 400;
            width: 469px;
            height: 72px;
            display: flex;
            justify-content: flex-end;
        }
        
        .viewmore{
            width: 179.813px;
            height: 44px;
            background: $buttoncolor;
            color: $section1-button-fontcolor;
            font-family: $firstpage-font-family;
            font-size: 15px;
            font-weight: 600;
            border-radius: 10px;
            border: 0px;
        }
        
    }
}


.section2{
    position: relative;

    &>img{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 438px;
        object-fit: cover;
    }

    .container0{
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: -15px;
        height: 438px;

        
        .section2words{
            display: flex;
            gap: 142px;
            padding-top: 126px;
        }
        
        .openinghours{
            width: 534px;
            height: 147px;
            border-radius: 10px;
            background: $section2-openinghours-color;
            color: $section1-button-fontcolor;
            font-family: $section2-font-family;
            font-size: 64px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
             }
    
            .row1row2{
                font-family: $section2-font-family;
                color: $section1-button-fontcolor;
                font-size: 36px;
                font-weight: 400;
                display: flex;
                flex-direction: column;
            }
            
            .row1{
                margin-bottom: 25px;
                display: flex;
                gap: 80px;
            }
            
            .row2{
                display: flex;
                gap: 80px;
            }
}
}

.section3{
    position: relative;

    & > img{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 819px;
        object-fit: cover;
    }

    .carousel-button {
        width: 52px;
        height: 52px;
        border: none;
        background-color: rgba(255, 255, 255, 0.71);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        z-index: 2;
        border-radius: 50%;
        margin-top: 195px;
        margin-left: -43px;
    }

    .carousel-button2 {
        width: 52px;
        height: 52px;
        border: none;
        background-color: rgba(255, 255, 255, 0.71);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        z-index: 2;
        border-radius: 50%;
        margin-top: 195px;
        right: -43px;
    }

    .container1{
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: -15px;
        height: 819px;

        
        .our-menu{
        text-align: center;
        color: $section3-ourmenu-fontcolor;
        font-family: $firstpage-font-family;
        font-size: 50px;
        font-weight: 400;
        text-transform: capitalize;
        -webkit-text-stroke: 0.4px $firstpage-color;
        padding-top: 83px;
        padding-bottom: 37.26px;
        }

        .coffee{
            color: $section3-ourmenu-fontcolor;
            font-family: $firstpage-font-family;
            font-size: 30px;
            font-weight: 600;
            padding-left: 50.29px;
        }

        .underline{
            position: absolute;
            width: 100.571px;
            height: 3px;
            background: $section3-coffee-fontcolor;
        }

        .drinks{
            display: flex;
            margin-top: 39.93px;
            gap: 41px;
            position: relative;

            .drink{
                padding: 15px 15px 26px;
                position: relative;
                width: 260px;
                height: 444.322px;
                border-radius: 20px;
                background: $section3-cappacino-background-color;
                box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.25);


            img{
                border-radius: 10px;
            }

            .title1{
                color: $section1-button-fontcolor;
                font-family: $firstpage-font-family;
                font-size: 25px;
                font-weight: 700;
            }

            .explanation1{
                color: $section3-explanation1-font-color;
                font-family: $firstpage-font-family;
                font-size: 12px;
                font-weight: 300;
                line-height: 21px;
                letter-spacing: 0.24px;
            }
            
            .ordernow-price{
                position: absolute;
                display: flex;
                gap: 49px;
                bottom: 26.66px;
                align-items: center;
            }
            
            .price{
                color: $section1-button-fontcolor;
                font-family: $firstpage-font-family;
                font-size: 21px;
                font-weight: 700;
                width: 61px;
                height: 31.596px;
                text-align: center;
            }
            
            .ordernow-button{
                width: 120px;
                height: 39.495px;
                border-radius: 10px;
                background: $section3-ordernow-button-color;
                color: $section1-button-fontcolor;
                font-family: $firstpage-font-family;
                font-size: 16px;
                font-weight: 500;
                border: none;
                box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.25);
            }

            
            }
        }

    }

}

.section4{
    position: relative;

    &>img{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 819px;
        object-fit: cover;
    }

    .container2{
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: -15px;
        height: 609px;

        .what-our-customers{
            color: $section1-button-fontcolor;
            text-align: center;
            font-family: $section4-font-family;
            font-size: 40px;
            font-weight: 700;
            line-height: 60px;
            padding-top: 81px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 36px;

            .underline1{
                width: 300px;
                height: 1px;
                background: #CBCBCB;    
            }
        }

        .comments{
            display: flex;
            gap: 32px;

            .comment{
                width: 379px;
                height: 309.833px;
                border-radius: 5px;
                background: rgba(88, 49, 21, 0.57);
                box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
                margin-top: 71px;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .person{
                    position: absolute;
                    z-index: 1;
                    margin-top: -41px;
                }

                .stars{
                    margin-top: 49px;
                }
                
                .as-good-as{
                    color: $section1-button-fontcolor;
                    text-align: center;
                    font-family: $section4-font-family;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 48px;
                }
                
                .lorem{
                    color: $section4-lorem-color;
                    font-family: $section4-font-family;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 150%;

                }

                .time{
                    text-align: center;
                    font-family: $section4-font-family;
                    font-weight: 700;
                    line-height: 24px;
                    margin-top: 22px;

                    .who{
                        color: $section4-who-color;
                        font-size: 16px;
                    }

                    .when{
                        color: $section4-when-color;
                        font-size: 15px;
                    }
                }
            }

            }

            .circles{

                display: flex;
                margin-top: 36.17px;
                margin-left: 560px;

                .greycircle{
                    background-color: grey;
                    width: 10px;
                    height: 10px;
                    border-radius: 50px;
                    margin: 4px;
                }
    
                .whitecircle{
                    background-color: white;
                    width: 10px;
                    height: 10px;
                    border-radius: 50px;
                    margin: 4px;
                }
            }
        }
}

.section5{
    background: #E3D9D5;
    box-shadow: 20px 20px 10px 0px rgba(62, 47, 25, 0.20);
    height: 450px;
    position: relative; 

    .container3{
        max-width: 1386px;
        position: relative;
        left: 27px;
        top: 30px;
        height: 390px;
        background: #795341;
        margin-left: auto;
        margin-right: auto;


        .map1{
            position: absolute;
            margin: 8px 12px 8px 11px;
        }

        .map2{
            margin-top: 23px;
            position: absolute;
            margin-left: 14px;
        }
    }
    
}

.section6{
    position: relative;
    height: 730px;
    background: rgba(29, 23, 20, 0.84);

    &>img{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 730px;
        object-fit: cover;
    }

    .container4{
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 174px;
        
        .parts{
            color: $section1-button-fontcolor;
            font-family: $firstpage-font-family;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 2.3px;
            text-transform: capitalize;
            display: flex;
            gap: 166px;

            .links{
                display: flex;
                flex-direction: column;
                gap: 18px;
            }

            .contacts{
                display: flex;
                flex-direction: column;
                gap: 18px;
            }

            .logo2{
                z-index: 1;
            }
        }

        .copyright{
            color: $section1-button-fontcolor;
            font-family: $firstpage-font-family;
            font-size: 20px;
            font-weight: 400;
            text-transform: capitalize;
            margin-top: 152px;
            margin-left: 260px;
        }
    }
}


